/* src/pages/Home.css */

/* Main container for the home page content */
@font-face {
  font-family: 'Hellr';
  src: url('../assets/Fonts/Helix/Hellix-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Hellri';
  src: url('../assets/Fonts/Helix/Hellix-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Hellsb';
  src: url('../assets/Fonts/Helix/Hellix-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Hellm';
  src: url('../assets/Fonts/Helix/Hellix-Medium.woff2') format('woff2');
}


@font-face {
  font-family: 'Larkr';
  src: url('../assets/Fonts/Larken/fonnts.com-Larken_Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Larkb';
  src: url('../assets/Fonts/Larken/fonnts.com-Larken_Bold.otf') format('opentype');

}
@font-face {
  font-family: 'Larkm';
  src: url('../assets/Fonts/Larken/fonnts.com-Larken_Medium.otf') format('opentype');

}


.home-main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

}



.home-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Ensure horizontal centering */ 
  max-width: 1080px; /* Limit the width to 1080px */
  width: 100vw;
  box-sizing: border-box; /* Include padding in the width/height */
  padding-top: 250px; /* Padding for small screens */
 
}

/* Content inside the home page */
.home-content {
  width: 100%; /* Full width of the container */
  text-align: center;
}

.intro {
  font-family: 'Hellri';
  font-size: 1.25rem;
  color: #e94e77;
}

.headline {
  margin: auto;
  margin-top: -7px;
  font-size: 3rem;
 
  color: black;
  width: 80%;
  margin-bottom: 8px;
  text-align: center;
  
}

.subtext {
  font-size: 1.25rem;
  color: #666;
  max-width: 800px;

  font-family: 'Hellr';
  margin: 0 auto;
}

.social-links a {
  margin: 0 8px; /* Add space between the icons */
}

.social-links img {
  transition: opacity 0.3s ease;
}

.social-links img:hover {
  opacity: 0.8; /* Makes the icon slightly transparent on hover */
}

/* Additional styles for spacing */
.social-links {
  margin-top: 30px; /* Space above and below social links */
}

.company-logos {
  margin-top: 60px; /* Space above the logos section */
  display: flex;
  justify-content: center; /* Center logos */
  gap: 100px; /* Optional: Space between logos */
}


.company-logo {
  
  max-width: 120px; /* Sets a maximum width to prevent large logos */
  max-height: 60px; /* Ensures the height doesn't stretch */
  object-fit: contain; /* Maintains the original aspect ratio of the logo */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for hover effects */
  opacity: 0.8; /* Slight transparency by default */
 
  border-radius: 0;
}

.company-logo:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  opacity: 1; /* Makes the logo fully visible when hovered */
}

.logo-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100px; /* Adjust the height of the container */
  width: 100%; /* Make container full width */
}







.projects-section-container{
  margin: auto;
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.projects-section {
  background-color: #EB7196; /* Pink background similar to the image */
  padding: 40px 20px;
  width: 100%;
  overflow: visible;
  border-radius: 50px;
  margin-top: 100px;
  text-align: center;
}

.projects-heading {
  font-family: 'Hellsb';
  display: flex;
  font-size: 1.6rem;
  margin:auto;
  align-items: center;
  justify-content: center;
  color: #FFE6EE;
  gap: 10px;
  margin: 30px auto 12px auto;
}


.projects-title {
  font-size: 2.2rem;
  color: white;
  font-family: 'Larkb';
  max-width: 600px;
  margin: auto;
  margin-bottom: 60px;
}

.flower-image{
  transform: scale(0.8);
}

.projects-container {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Ensures cards wrap on smaller screens */
  padding-bottom: 100px;
}

.project-card:hover {
  transform: scale(1.05); /* Slightly scale up the card */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Optional: Add hover effect for the project name text */
.project-card:hover .project-name {
  color: #000000; /* Change text color on hover */
}

/* Add smooth background color change */
.project-card:hover {
  background-color: #f9f9f9; /* Change the background color on hover */
}

.projects-card-container{
  position:absolute;
  display: flex;

  gap: 40px;
}

.project-card {
  height: 250px;
  background-color: white;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(182, 182, 182, 0.1);
  text-align: center;
  width: 220px;
  border-color: #FFE6EE;
  border-width: 0.2rem;
  border-style: solid;
  line-height: 0rem;
  transition: transform 0.6s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  
}

.project-image {
  width: 100%;
  height: 150px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.project-name {
  margin-top: 4px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #333;
}










/* Gallery.css */


.gallery-container-main{
  max-width: 1080px;

}

/* General container and layout settings */
.gallery-container {
  margin-top: 200px;
}

/* Header Styles */
.gallery-header {
  font-family: 'Hellsb';
  display: flex;
  font-size: 1.6rem;
  margin:auto;
  align-items: center;
  justify-content: center;
  color:#EB7196;
  gap: 10px;
  margin: 30px auto 12px auto;
  
}

.flower2-image{
  transform: scale(0.8);
}


.gallery-subheader {
  font-size: 2.2rem;
  color: black;
  align-items: center;
  font-family: 'Larkb';
  max-width: 600px;
  margin: auto;

}

/* Large box on the left */
.large-box {
  background-color: #B6A2D9; /* Light purple background */
  height: 506px;
  position: relative;
  border-color: #DFD2F6;
  border-style: solid;
  border-width: 0.4rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.large-box:hover {
  transform: scale(1.02); /* Slight zoom effect */
  box-shadow: 0 4px 10px rgba(187, 108, 248, 0.2); /* Add shadow on hover */
}

.pin {
  object-fit: contain;

  transform: rotate(20deg);
}

/* Keyframes for pin bounce */
@keyframes pinBounce {
  0% {
    transform: translateY(0); /* Start at original position */
  }
  50% {
    transform: translateY(-5px); /* Move slightly up */
  }
  100% {
    transform: translateY(0); /* Return to original position */
  }
}

/* Apply the animation to the pin */
.pin {
  animation: pinBounce 1.5s ease-in-out infinite; /* Adjust timing for speed */
}

.star2 {
  object-fit: contain;
  width: 6%;

  transform: rotate(20deg);
}




.plant {
  object-fit: contain;

  transform: rotate(20deg);
}

.bush {
  object-fit: contain;

  transform: rotate(20deg);
}

.placeholder-text {
  margin: auto;
  font-size: 1.5rem;
  color: #000000;
  font-size: 1.2rem;

  font-family: 'Larkm';
  text-align: center;
  width: 65%;

}

.videothumbnail{
  margin: auto;
  margin-top: 5%;
  margin-bottom: 3%; 
  transform: rotate(2deg);
  display: flex;
  width: 85%;
}

/* Smaller boxes1 on the right */
.aestheticshot{
  width: 60%;
  margin: 0px 0px;
 

}

.aesthetic-label{
 display:flex;
 flex-direction: column-reverse;
 padding: 0;
 

 
}

.arrow{
  width: 70%;
  
}

/* Subtle movement animation for the arrow */
@keyframes subtleMovement {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px); /* Move right */
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the arrow */
.arrow {
  animation: subtleMovement 2s ease-in-out infinite; /* Adjust timing for speed */
}




.small-box1 {
  padding: 20px;
  background-color: #f8f9fa;
  height: 230px; /* Adjust according to your image dimensions */
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: #f39b6c;
  border-color: #ffc5a6;
  border-style: solid;
  border-width: 0.4rem;
  gap: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
    
}

.small-box1:hover {
  transform: scale(1.02); /* Slight zoom effect */
  box-shadow: 0 4px 10px rgba(241, 121, 78, 0.2); /* Add shadow on hover */
}


.small-box2 {
  position: relative; /* Ensures that stickers can be positioned within this box */
  padding: 30px;
  padding-bottom: 38px;
  background-color: #f8f9fa;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffdd67; /* Yellow background */
  text-align: center;
  border-radius: 50px;
  border-color: #fff0b8;
  border-style: solid;
  border-width: 0.4rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  
}

.small-box2:hover {
  transform: scale(1.02); /* Slight zoom effect */
  box-shadow: 0 4px 10px rgba(241, 233, 78, 0.2); /* Add shadow on hover */
}

.stickers {
  position: absolute; /* Enables arbitrary positioning */

  transform: translate(-50%, -50%);
  transform: rotate(-15deg);
  z-index: 10;
}



.star {
  width: 48px; /* Adjust the size of the arrow as needed */
  height: auto;
  transform: rotate(20deg);
}


/* Keyframes for simple moving animation */
@keyframes starMove {
  0% {
    transform: translateX(0); /* Start position */
  }
  50% {
    transform: translateX(-5px); /* Move 10px to the right */
  }
  100% {
    transform: translateX(0); /* Return to the start position */
  }
}

/* Apply animation to the star */
.star {
  animation: starMove 2s ease-in-out infinite; /* Smooth back-and-forth motion */
}



.rainbow {
  width: 67px; /* Adjust the size of the arrow as needed */

  height: auto;
}

/* Keyframes for rainbow animation */
/* Keyframes for smooth rotation */
@keyframes rainbowRotate {
  0% {
    transform: rotate(0deg); /* Start position */
  }
  50% {
    transform: rotate(10deg); /* Slight tilt to the right */
  }
  100% {
    transform: rotate(0deg); /* Return to the start position */
  }
}

/* Apply animation to the rainbow */
.rainbow {
  animation: rainbowRotate 2s ease-in-out infinite; /* Smooth rotation */
}




/* Smaller boxes3 on the right */
.small-box3 {
  position: relative;
  padding: 10px;
  background-color: #f8f9fa;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #99ad6d; /* green background */
  text-align: center;
  border-radius: 50px;
  border-color: #cbd8ad;
  border-style: solid;
  border-width: 0.4rem;
  padding-top: 0px;
  margin-bottom: 22px;
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.small-box3:hover {
  transform: scale(1.02); /* Slight zoom effect */
  box-shadow: 0 4px 10px rgba(170, 241, 78, 0.2); /* Add shadow on hover */
}



.work {
  width: 150px; /* Adjust the size of the arrow as needed */
  height: auto;
  transform: rotate(12deg);
}

/* Right-left animation for the work sticker */
@keyframes rightLeftMovement {
  0% {
    transform: translateX(12); /* Start at original position */
  }
  50% {
    transform: translateX(10px); /* Move 10px to the right */
  }
  100% {
    transform: translateX(12); /* Return to original position */
  }
}

/* Apply the animation to the work sticker */
.work {
  animation: rightLeftMovement 2s ease-in-out infinite; /* Adjust timing for speed */
}




.bg-orange {
  background-color: #f7b267;
}

.bg-yellow {
  background-color: #ffdd67;
}

.bg-green {
  background-color: #90e09d;
}

/* Image settings */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Caption text below each image */
.box-caption {
  font-size: 1.2rem;

  font-family: 'Larkm';
  color: black;
  width: 60%;
  margin: auto;
  margin-top: -0.3rem;
  padding: 0;
  line-height: 1.5rem;

  
}

.box-caption1{

  margin-bottom: -0.1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Larkm';
  color: black;
}

.headshot{
  max-height: 100%;
  width:auto;
  object-fit: contain;
}

.passion {
  object-fit: contain;
  max-height: 100%;
  margin: 8px 10px;
 
}






/* Keyframes for seamless scrolling */
@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Outer container to ensure scrolling view */
.company-logos {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  overflow: hidden; /* Hide overflow for smooth animation */
  position: relative;
  width: 100%;
  margin-top: 60px;
}

/* Inner container for seamless scrolling */
.company-logos-inner {
  display: flex;
  width: calc(200% + 100px); /* Double the container width */
  animation: scrollLogos 20s linear infinite; /* Smooth infinite scroll */
}

/* Logo container: keeps logos aligned */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px; /* Adjust gap between logos */
}

/* Individual logo styling */
.company-logo {
  max-width: 120px;
  max-height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.8;
}

.company-logo:hover {
  transform: scale(1.1);
  opacity: 1;
}




@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave-emoji {
  display: inline-block;
  font-size: 1.7rem; /* Adjust size as needed */
  transform-origin: 70% 70%; /* Adjust to get a realistic pivot point */
  animation: wave 1.5s ease-in-out infinite;
}





.flower2-image {
  animation: rotateFlower 5s linear infinite;
  width: 30px; /* Set your desired width */
  height: 30px; /* Set your desired height */
  object-fit: contain; /* Ensures the image is not stretched */
}

@keyframes rotateFlower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* Apply for devices with a width of 768px or less */
@media (max-width: 768px) {

img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}


.project-image {
  width: 80%;
  height: auto;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
}


  .home-container {
    padding-top: 150px; /* Reduce top padding for mobile */
    padding-left: 10px; /* Add horizontal padding for small screens */
    padding-right: 10px;
  }




  .projects-section{
    margin:0;
    padding:0;
  }

  .headline {
    font-size: 2rem; /* Reduce headline font size */
    width: 90%; /* Take up more width on small screens */
  }

  .subtext {
    font-size: 1rem; /* Reduce subtext font size */
    line-height: 1.4; /* Adjust line height for readability */
  }

  .social-links img {
    width: 30px; /* Reduce icon size */
    height: 30px;
  }

  .projects-section {
      margin-top: 50px;
    padding: 0px 10px; /* Reduce padding */
    padding-top: 15px;
    
  }

  .projects-title {
      
    font-size: 1.5rem; /* Reduce title size */
  }

  .project-name{
      text-align: center;
      width: 70%;
      margin:0;
  }
  
  .project-card {
      display: flex;
      flex-direction: column;
      align-items: center;
    width: 100%; /* Make project cards full-width */
    margin-bottom:8px; /* Add space between cards */
    height: 270px;
    padding: 0px; 
  }
   .pin{
        display:none;
   }
    
   .bush{
       display:none;
   }
   
    .plant{
       display:none;
   }

      .arrow{
       display:none;
   }

       .star{
       display:none;
   }

       .stickers{
       display:none;
   }
   
   .aesthetic-label{
         display:flex;
         flex-direction: column;
        
         padding: 0;
         margin-top: 20px;
   }

   .aestheticshot{
       width: auto;
       height: 100%;
   }


  .gallery-container {
    margin-top: 100px; /* Reduce top margin */
  }

  .large-box {
    height: auto; /* Adjust box height for mobile */
    padding-bottom: 28px;
  }

  .small-box3{
       height: auto;
       padding-top: 20px;
        padding-bottom: 28px;
  }

  .gallery-header {
    font-size: 1.2rem; /* Reduce header size */
  }

  .gallery-subheader {
    font-size: 1.5rem; /* Reduce subheader size */
    text-align: center;
  }

  .small-box1, .small-box2, .small-box3 {
    height: 180px; /* Adjust height of smaller boxes */
  }
}


@media (max-width: 1024px) {
    .projects-card-container{
        gap: 20px;
    }
}

@media (max-width: 924px) {
    .projects-card-container{
        gap: 10px;
    }
}

@media (max-width: 912px) {
     .projects-card-container{
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
 
  }
}








