@font-face {
    font-family: 'Hellix';
    src: url('./assets/Fonts/Helix/Hellix-Regular.woff2') format('woff2'),
         url('./assets/Fonts/Helix/Hellix-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hellix';
    src: url('./assets/Fonts/Helix/Hellix-RegularItalic.woff2') format('woff2'),
         url('./assets/Fonts/Helix/Hellix-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }


  @font-face {
    font-family: 'Hellix';
    src: url('./assets/Fonts/Helix/Hellix-Thin.woff2') format('woff2'),
         url('./assets/Fonts/Helix/Hellix-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Hellix';
    src: url('./assets/Fonts/Helix/Hellix-SemiBold.woff2') format('woff2'),
         url('./assets/Fonts/Helix/Hellix-SemiBold.woff') format('woff');
    font-weight: 500;

  }

  @font-face {
    font-family: 'Larken';
    src: url('./assets/Fonts/Larken/fonnts.com-Larken_Regular.otf') format('opentype');
        
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Larken';
    src: url('./assets/Fonts/Larken/fonnts.com-Larken_Bold.otf') format('opentype');
         
    font-weight: 500;
    font-style: normal; 
  }